:root {
    --bodyBg: #F2F6FF;
    --cardW: 440px;
    --color-primary: #171A3C;
    --size-vs: 7px;
    --size-sm: 10px;
    --size-sm2: 14px;
    --size-md: 16px;
    --size-lg: 20px;
    --size-xl: 24px;
    --size-2xl: 32px;
    --size-2xlll: 37px;
    --size-2xll: 42px;
    --size-2xxl:67px;
    --size-3xl: 74px;
}